<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{ reagentName | titlecase }}</th>
      <th scope="col">{{ reagentMass | titlecase }}</th>
      <th scope="col">{{ additionalInformation | titlecase }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let form of forms">
      <tr>
        <td>
          <button
            type="button"
            class="btn btn-danger btn-circle"
            [ngClass]="{ invisible: !hasMany(forms) }"
            (click)="removeReagent(forms.indexOf(form))"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-dash-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"
              />
            </svg>
          </button>
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [formControl]="form.controls['reagentName']"
          />
        </td>
        <td>
          <input
            type="number"
            class="form-control"
            [formControl]="form.controls['reagentMass']"
          />
        </td>
        <td>
          <div class="form-check form-check-inline">
            <input
              id="benignCheck"
              type="checkbox"
              class="form-check-input"
              [formControl]="form.controls['benign']"
            />
            <label for="benignCheck" class="form-check-label">Benign</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              id="reactantCheck"
              type="checkbox"
              class="form-check-input"
              [formControl]="form.controls['reactant']"
            />
            <label for="reactantCheck" class="form-check-label">Reactant</label>
          </div>
        </td>
      </tr>
    </ng-container>
    <tr>
      <td colspan="5">
        <button type="button" class="btn btn-success" (click)="addReagent()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
            />
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
