<p>
  Metricks is a free reaction metric calculator for synthetic chemical
  reactions. Currently, it can calculate Process Mass Intensity (PMI), E-Factor,
  Reaction Mass Efficiency (RME), and Effective Mass Yield (EMY) values from the
  same set of data.
</p>

<h2>Inputs</h2>

<p>
  Input the names and masses of your reagents and product. Please make sure that
  you are using the same mass units for all of your reagents and your product.
  For accurate Reaction Mass Efficiency (RME) and Effective Mass Yield (EMY)
  calculations, please mark whether the reagent is a reactant (involved in the
  equation A + B + C -> D/is consumed), and/or whether it is benign.
</p>

<p>
  If either your RME or EMY values are displayed as "Infinity %", please check
  that you have ticked the appropriate Reactant or Benign tickboxes. If they are
  still displaying as infinite, then congratulations! Your reactions are very
  efficient and/or effectively yielding!
</p>

<app-calculator></app-calculator>
